html, body {
  margin: 0;
  font-family: "Noto Sans JP", "Meiryo", sans-serif;
  background-color: #fff;
  text-align: center;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ヘッダー */
header {
  background-color: #2f7f36;
  color: white;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ウェルカムメッセージ */
.welcome {
  font-size: 1.5rem;
  font-weight: bold;
  animation: blink 1.2s infinite;
  margin: 0;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.0; }
}

/* 主体部分 */
main {
  position: relative;
  padding-top: 100px;
  flex: 1;
}

/* 言語 */
.lang-box {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #333;
}
.lang-box .lang-icon {
  font-size: 2.5rem;
}

/* ロゴ画像 */
.logo-img {
    width: 500px;
    height: auto;
}

/* 開始ボタン */
.start-btn {
  width: 260px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.459), rgba(255,255,255,0) 50%), #c4291f;
  color: white;
  border: 4px solid #9f1a17;
  border-radius: 10px;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s, box-shadow 0.1s;
  text-decoration: none;
}
.start-btn:hover {
  background: linear-gradient(to bottom, rgba(255,255,255,0.459), rgba(255,255,255,0) 50%), #b5221a;
}
.start-btn:active {
  transform: translateY(2px);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

/* フッター */
footer {
  background-color: #2f7f36;
  color: white;
  padding: 10px 0;
  font-size: 0.8rem;
  margin-top: 60px;
}
